<html>
<head>
<style>
body {
  background-color: black;
}

<h1 style="background-color:DodgerBlue;"> >>vision<< </h1>
  
h1 {
  color: beige;
  text-align: left;
}
</style>
</head>
<body>

{
  font-family: helvetia;
  font-size: 35px;
}

<h1> vision </h1>
<p> nightmare in hiding </p>

</body>
</html>
