<html>
<head>
<style>

body {
  background-color: black;
}

h1 {
  color: white;
  margin-center: 65px;
}

</style>
</head>
<body>

{
  font-family: helvetia;
  font-size: 35px;
}

<h1 style="color:white;text-align:center;"> vision </h1>
<p style="color:white;> nightmare in hiding </p>

</body>
</html>
