<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
}
</style>
</head>
<body>

<h1> vision </h1>
{
  color: beige;
  text-align: left;
}

<p> nightmare in hiding </p>
{
  font-family: helvetia;
  font-size: 35px;
}

</body>
</html>
